---
layout: layouts/default.hbs
title: About Me
permalink: about.html
---

<section class="about-section py-5">
  <div class="container">
    <h1>About Me</h1>
    <p>Hi, I'm Jy Alexander, a passionate web developer with experience in front-end and back-end development. I have a strong interest in building dynamic, user-friendly websites and applications.</p>
    <p>If you’re interested in learning more about my work or would like to get in touch, feel free to reach out to me!</p>
    <h2>Contact Information</h2>
    <ul>
      <li>Email: <a href="mailto:jyalexander63@gmail.com">jyalexander63@gmail.com</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/jyalexander" target="_blank">linkedin.com/in/jyalexander</a></li>
    </ul>
  </div>
</section>
