---
layout: layouts/default.hbs
title: Jy Alexander's Website
---
  {{!-- <video width="" height="" controls style="max-width:100%; height:auto;">
  <source src="/videos/e92m3downshifts.mp4" type="video/mp4">
  Your browser does not support the video tag.
  </video> --}}
  <!-- Splash screen container -->
  <div class="splash-screen" id="splash">
    <h1 class="splash-name">JY ALEXANDER</h1>
  </div>
  <div class="main-content" id="main-content">
    <img src="/images/m4gt4.jpg" alt ="E92 M3" style="max-width:100%; height:auto;">
    <h1>Welcome to My Website, Learn more <a href="/about.html">About Me</a></h1>
    <p>This is the homepage where I introduce my site.</p>
    <p>Explore the lab write-up and references:</p>
    <ul>
      <li><a href="/1_lab_solution/solution.html">Lab 1 Solution</a></li>
      <li><a href="/1_lab_references/references.html">References</a></li>
    </ul>
  </div>