---
layout: layouts/default.hbs
title: Terms and Conditions
permalink: terms-and-conditions.html
---

<section class="terms-section py-5">
  <div class="container">
    <h1>Terms and Conditions</h1>
    <p>Welcome to our website! By accessing and using this website, you agree to be bound by the following terms and conditions.</p>
    <h2>1. Acceptance of Terms</h2>
    <p>These terms and conditions govern your use of our website. By accessing, browsing, or using our site, you acknowledge that you have read, understood, and agree to be bound by these terms.</p>
    <h2>2. Changes to Terms</h2>
    <p>We reserve the right to update or change these terms at any time without prior notice. Please check this page periodically for updates.</p>
    <h2>3. Contact Us</h2>
    <p>If you have any questions about these Terms and Conditions, you can contact us at <a href="mailto:jyalexander63@gmail.com">jyalexander63@gmail.com</a>.</p>
  </div>
</section>
