<footer class="footer bg-dark text-center text-white py-4">
  <div class="container">
    <p>&copy; Jy Alexander <span id="current-year"></span></p>
     <p><a href="/terms-and-conditions.html" class="text-white">Terms and Conditions</a></p>
  </div>
</footer>

<script>
  // JavaScript to update the year dynamically
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
