<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/index.html">Jy Alexander</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/README/readme.html">README</a>
        </li>
        <!-- Add Blog nav item here -->
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cars">Dream Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lab 1
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownL1">
            <li><a class="dropdown-item" href="/1_lab_solution/solution.html">Write-up</a></li>
            <li><a class="dropdown-item" href="/1_lab_references/references.html">References</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownL1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lab 3
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownL1">
            <li><a class="dropdown-item" href="/lab3/lab3.html">Write-up</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownA1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Assignment 1
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownA1">
            <li><a class="dropdown-item" href="/about.html">About Me</a></li>
            <li><a class="dropdown-item" href="/404.html">404 Page</a></li>
            <li><a class="dropdown-item" href="/terms-and-conditions.html">Terms & Conditions</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>